.app-home {
    height: 100%;
    width: 100%;
    background-color: rgba(19, 20, 36, 0.3);
    will-change: contents;
}

.model {
    display: none;
}

.app-home-text {
    position: absolute;
    left: 5%;
    top: 45%;
    transform: translateY(-50%);
    max-height: 90%;
}

.app-home-text-title {
    color: white;
    font-size: 60px;
    margin: 0;
    font-weight: 600;
    line-height: 5rem;
}

.app-home-text-subtitle {
    color: #8d8d8d;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px;
}

.app-home-text-button {
    color: white;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #F13024;
    margin-top: 25px;
    float: left;
    white-space: nowrap;
}

.app-home-text-button:hover {
    background-color: #F13024;
    color: #333;
}

@media screen and (min-width: 1200px) {
    .model {
        display: flex;
        height: 80%;
        width: 40%;
        margin-left: 50rem;
        padding-top: 4rem;
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    .model:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}

@media screen and (min-width: 400px) {
    .app-home-text-title {
        font-size: 70px;
    }
}