@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/site-bg.svg");
  overflow: hidden;
  line-height: 1.625;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
}

img {
  max-width: 100%;
}

.red-color {
  color: #F13024;
}

.white-color {
  color: white;
}

.red-hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
}

.red-hover:hover {
  color: #F13024;
}

.link {
  text-decoration: none;
  color: inherit;
}